<?xml version="1.0" ?>
<config>
    <modules>
        <Web4pro_Buzz>
            <version>1.0.0</version>
        </Web4pro_Buzz>
    </modules>
    <global>
        <models>
            <buzz>
                <class>Web4pro_Buzz_Model</class>
                <resourceModel>buzz_resource</resourceModel>
            </buzz>
            <buzz_resource>
                <class>Web4pro_Buzz_Model_Resource</class>
                <entities>
                    <c>
                        <table>buzz_c</table>
                    </c>
                    <a>
                        <table>buzz_a</table>
                    </a>
                </entities>
            </buzz_resource>
        </models>
        <resources>
            <buzz_setup>
                <setup>
                    <module>Web4pro_Buzz</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </buzz_setup>
            <buzz_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </buzz_write>
            <buzz_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </buzz_read>
        </resources>
        <blocks>
            <buzz>
                <class>Web4pro_Buzz_Block</class>
            </buzz>
        </blocks>
        <helpers>
            <buzz>
                <class>Web4pro_Buzz_Helper</class>
            </buzz>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <addMassAction>
                        <type>model</type>
                        <class>Web4pro_Buzz_Model_Observer</class>
                        <method>addMassaction</method>
                    </addMassAction>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <sales_order_shipment_save_after>
                <observers>
                    <saveEparcelData>
                        <type>model</type>
                        <class>Web4pro_Buzz_Model_Observer</class>
                        <method>saveEparcelData</method>
                    </saveEparcelData>
                </observers>
            </sales_order_shipment_save_after>
        </events>
        <layout>
            <updates>
                <buzz>
                    <file>buzz/buzz.xml</file>
                </buzz>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <eparcel_admin>
                <use>admin</use>
                <args>
                    <module>Web4pro_Buzz</module>
                    <frontName>eparcel_admin</frontName>
                </args>
            </eparcel_admin>
        </routers>
    </admin>
</config>