<?xml version="1.0" ?>
<config>
    <modules>
        <SK_JohnnyPayment>
            <version>0.0.3</version>
        </SK_JohnnyPayment>
    </modules>
    <global>
         <helpers>
                <johnnypayment>
                    <class>SK_JohnnyPayment_Helper</class>
                </johnnypayment>
         </helpers>
        <blocks>
            <johnnypayment>
                <class>SK_JohnnyPayment_Block</class>
            </johnnypayment>
        </blocks>
        <models>
            <johnnypayment>
                <class>SK_JohnnyPayment_Model</class>
            </johnnypayment>
        </models>
        <resources>
            <johnnypayment_setup>
                <setup>
                    <module>SK_JohnnyPayment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </johnnypayment_setup>
            <johnnypayment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </johnnypayment_write>
            <johnnypayment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </johnnypayment_read>
        </resources>
        <fieldsets>
            <sales_convert_quote_payment>
                <check_no>
                    <to_order_payment>*</to_order_payment>
                </check_no>
                <check_date>
                    <to_order_payment>*</to_order_payment>
                </check_date>
            </sales_convert_quote_payment>
        </fieldsets>
    </global>
    <default>
        <payment>
            <johnnypayment>
                <active>1</active>
                <model>johnnypayment/paymentMethod</model>
                <order_status>processing</order_status>
                <title>Johnny Payment</title>
            </johnnypayment>
        </payment>
    </default>
    <frontend>
        <events>
            <customer_register_success>
                <observers>
                    <interceptingNewCustomer>
                        <type>singleton</type>
                        <class>SK_JohnnyPayment_Model_CustomerObserver</class>
                        <method>interceptNewCustomer</method>
                    </interceptingNewCustomer>
                </observers>
            </customer_register_success>
            <checkout_onepage_controller_success_action>
                <observers>
                    <removeFundsFromCustomerBalance>
                        <type>singleton</type>
                        <class>SK_JohnnyPayment_Model_OnepageSuccessObserver</class>
                        <method>removeFundsFromCustomerBalance</method>
                    </removeFundsFromCustomerBalance>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
    </frontend>

</config>