<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <SK_Measurements>
            <version>1.1.0</version>
        </SK_Measurements>
    </modules>
    <global>
        <models>
            <sk_measurements>
                <class>SK_Measurements_Model</class>
                <resourceModel>sk_measurements_resource</resourceModel>
            </sk_measurements>
            <sk_measurements_resource>
                <class>SK_Measurements_Model_Resource</class>
                <entities>
                    <profile>
                        <table>sk_measurements_profile_entity</table>
                    </profile>
                    <profile_entity_varchar>
                        <table>sk_measurements_profile_entity_varchar</table>
                    </profile_entity_varchar>
                    <profile_entity_text>
                        <table>sk_measurements_profile_entity_text</table>
                    </profile_entity_text>
                    <profile_entity_int>
                        <table>sk_measurements_profile_entity_int</table>
                    </profile_entity_int>
                </entities>
            </sk_measurements_resource>
        </models>
        <helpers>
            <sk_measurements>
                <class>SK_Measurements_Helper</class>
            </sk_measurements>
        </helpers>
        <blocks>
            <sk_measurements>
                <class>SK_Measurements_Block</class>
            </sk_measurements>
        </blocks>
        <resources>
            <sk_measurements_setup>
                <setup>
                    <module>SK_Measurements</module>
                    <class>SK_Measurements_Model_Resource_Setup</class>
                </setup>
            </sk_measurements_setup>
            <sk_measurements_write>
                <connection>
                    <use>default_write</use>
                </connection>
            </sk_measurements_write>
            <sk_measurements_read>
                <connection>
                    <use>default_read</use>
                </connection>
            </sk_measurements_read>
        </resources>
    </global>

    <admin>
        <routers>
            <measurements_admin>
                <use>admin</use>
                <args>
                    <module>SK_Measurements</module>
                    <frontName>measurements_admin</frontName>
                </args>
            </measurements_admin>
        </routers>
    </admin>
</config>