<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <SK_Measurements>
            <version>1.0.0</version>
        </SK_Measurements>
    </modules>
    <global>
        <models>
            <sk_measurements>
                <class>SK_Measurements_Model</class>
                <resourceModel>sk_measurements_resource</resourceModel>
            </sk_measurements>
            <sk_measurements_resource>
                <class>SK_Measurements_Model_Resource</class>
                <entities>
                    <profile>
                        <table>sk_measurements_profile_entity</table>
                    </profile>
                    <eav_attribute>
                        <table>sk_measurements_profile_eav_attribute</table>
                    </eav_attribute>
                </entities>
            </sk_measurements_resource>
        </models>
        <helpers>
            <sk_measurements>
                <class>SK_Measurements_Helper</class>
            </sk_measurements>
        </helpers>
        <blocks>
            <sk_measurements>
                <class>SK_Measurements_Block</class>
            </sk_measurements>
        </blocks>
        <resources>
            <sk_measurements_setup>
                <setup>
                    <module>SK_Measurements</module>
                    <class>SK_Measurements_Model_Resource_Setup</class>
                </setup>
            </sk_measurements_setup>
            <sk_measurements_write>
                <connection>
                    <use>default_write</use>
                </connection>
            </sk_measurements_write>
            <sk_measurements_read>
                <connection>
                    <use>default_read</use>
                </connection>
            </sk_measurements_read>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <sk_measurements>
                    <file>measurements_profile.xml</file>
                </sk_measurements>
            </updates>
        </layout>
        <translate>
            <modules>
                <SK_Measurements>
                    <files>
                        <default>SK_Measurements.csv</default>
                    </files>
                </SK_Measurements>
            </modules>
        </translate>
    </adminhtml>

    <admin>
        <routers>
            <measurements_admin>
                <use>admin</use>
                <args>
                    <module>SK_Measurements</module>
                    <frontName>measurements_admin</frontName>
                </args>
            </measurements_admin>
        </routers>
    </admin>
</config>